.logo {
    width: 70px !important;
}

.navbar {
    margin-bottom: 0 !important;
    padding-left: 10%;
    padding-right: 10%;
}

.search {
    margin: auto;
}

.joinButton {
    font-weight: bolder !important;
}